.header{
    border: 1px solid #474b4e;
    background-color: #474b4e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    
}
.header h1{
    text-align: left;
    display: flex;
    justify-content: flex-end;
}
.header .navbar{
    list-style: none;
}

.header .navbar li{
    display: inline-block;
    padding: 0 20px;    
}

.header .navbar li:hover{
    transform: scale(1.1);
}

.header .navbar a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .navbar li a:hover{
    color: #ffbc0e;
}

